<%- contentFor( 'body' ) %>

<div class="jumbotron text-center">
    <h1>Sobre esta aplicação</h1>
    <p>Apresentando as features</p>
</div>

<div class="container">
    <p>No menu <b>CADASTRO</b>, temos a listagem de todos os usuários inscritos no sistemaa, eles foram criados utilizando a lib <b>FAKER</b>.
    </p>
    
    <p>Nele podemos <b>editar, excluir e adicionar</b> itens da lista (usuários).
    </p>
    
    <p>Veremos mais algumas funcionalidades interessantes até o fim da disciplina.
    </p>
</div>