<%- contentFor( 'body' ) %>

<div class="jumbotron text-center">
    <h1>Sobre esta aplicação</h1>
    <p>Apresentando as features</p>
</div>

<div class="container">
    <p>No menu principal<b>CADASTRO</b>, temos a listagem de todos os usuários inscritos no sistemaa, eles foram criados utilizando a lib <b>FAKER</b>.
    </p>
    
    <p>O sistema possui dois tipos de listagem:</p>
    
    <ul>
        <li><b>Por meio de EJS: </b>Nele podemos <b>editar, excluir e adicionar</b> itens da lista (usuários).</li>
        <li><b>Por meio de HTML: </b>Nele recebemos a listagem após requisição ao servidor, fazendo o tratamento dos dados e gerando uma table no final.</li>
    </ul>
    
    <p><b>Créditos:</b></p> 
    <p>Deixo os créditos aqui para a função geraTable, cujo código foi conseguido no seguinte link que não 
        menciona seu criador: <a href="http://jsfiddle.net/gsupdtp9/">http://jsfiddle.net/gsupdtp9/</a> </p>
    <p>Dedico também o agradecimento e créditos ao Professor <b>Wellington Sarmento</b>, que codificou a base da aplicação (maior parte dela). Obrigado, professor!</p>
    
    <p>Agradeço também a <b>Vaneska Sousa</b>, que percebeu um erro de duplicação na table no meu método list() e nos juntamos para corrigir, sendo que ela fez a maior parte do trabalho (rsrs*), foi uma boa colaboração. Obrigado Vaneska!</p>

</div>