<%- contentFor( 'body' ) %>

<div class="jumbotron text-center">
    <h1>Olá, bem vindo ao First App</h1>
    <p>Projeto criado para o estudo do NodeJs</p>
</div>

<div class="container">
    <p>Este site foi criando durante da disciplina de Autoração Multimídia 2, do curso de Sistemas e Mídias Digitais da 
        Universidade Federal do Ceará, no semestre 2021.1.
    </p>
    
    <p>Trata-se de atividade de AP1 do aluno Germano Franklin Costa Luz, matrícula 391569 e serviu como estudo das tecnologias: NodeJs, EJS
        Express, MongoDB, Ajax e Javascript em geral.
    </p>

    <p>As atividades aqui realizadas foram propostas pelo <b>Professor Wellington Sarmento</b>, e o código base foi criado pelo 
        mesmo durante as aulas e postado num repositório disponível aos alunos. A partir do código base do professor, e levando em conta
        suas explicações sobre as tecnologias, editei e aperfeiçoei o código realizando as tarefas propostas na disciplina.
    </p>
</div>